---
// Importar componentes de secciones
import MainLayout from "@/layouts/MainLayout.astro";
import Btn404 from "@components/ui/buttons/Btn404.astro";
import { SITE } from "@data/constants";

// Definir tipos para traducciones
type TranslationKeys = "es";
type Translations = {
  [key in TranslationKeys]: {
    pageTitle: string;
    subTitle: string;
    content: string;
    btnTitle: string;
  };
};

// Definir variables para el contenido de la página
const defaultLang: TranslationKeys = "es";
const translations: Translations = {
  es: {
    pageTitle: `Página No Encontrada | ${SITE.title}`,
    subTitle: "¡Ups, esta no es la página que estabas buscando!",
    content:
      "No dejes que este pequeño contratiempo te detenga. Volvamos a donde estabas.",
    btnTitle: "Regresar",
  },
};

// Determinar el idioma desde la URL
const urlPath = Astro.url.pathname;
const langCodeMatch = urlPath.match(/^\/(es)\//);
const lang: TranslationKeys = langCodeMatch
  ? (langCodeMatch[1] as TranslationKeys)
  : defaultLang;

const { pageTitle, subTitle, content, btnTitle } = translations[lang];
---

<MainLayout title={pageTitle}>
  <section class="grid h-svh place-content-center">
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1
          class="text-dark mb-4 text-7xl font-extrabold text-yellow-500 dark:text-yellow-400 lg:text-9xl"
        >
          404
        </h1>
        <p
          id="subtitle"
          class="mb-4 text-balance text-3xl font-bold tracking-tight text-neutral-700 dark:text-neutral-300 md:text-4xl"
        >
          {subTitle}
        </p>
        <p
          id="content"
          class="mb-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
        >
          {content}
        </p>
        <!-- Mostrar un botón que regresa al usuario a la página anterior -->
        <Btn404 title={btnTitle} id="go-back" />
      </div>
    </div>
  </section>
</MainLayout>

<!-- Código JavaScript para manejar el regreso a la página anterior -->
<script>
  const goBackButton = document.getElementById("go-back") as HTMLButtonElement;

  goBackButton.addEventListener("click", () => {
    history.back();
  });
</script>
